.chatlistContainer {
  /* border: 2px solid black; */
  border-radius: 8px;
  width: 400px;
  height: 405px;
  /* max-height: 410px; */
  background-color: white;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
  padding: 20px 20px 0 20px;
  margin-top: 15px;
}

.chatlistHeader {
  padding-bottom: 15px;
  border-bottom: 1.5px solid #d4d4d4;
}

.chatTitle {
  font-size: 22px;
  color: #59705e;
}

.chatRoomList {
  max-height: 322px;
  overflow: scroll;
}

.roomInfo {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  /* border-bottom: 1px solid #d8d7d6; */
}

.roomInfo:hover{
  background-color: #7e8e81;
}

.roomInfo:not(:last-child) {
  border-bottom: 1px solid #ececec;
  /* padding-bottom: 20px; */
}

.profileImg {
  width: 55px;
  border-radius: 50%;
  border: 1px solid rgb(139, 175, 156);
}

.nickname {
  font-size: 18.5px;
  margin-bottom: 5px;
  color: #5b5b5b;
}

.chatText {
  font-size: 15px;
  color: #5b5b5b;
}

.roomInfo:hover .nickname {color: white;}
.roomInfo:hover .chatText {color: white;}
.roomInfo:hover .profileImg {
  border-radius: 50%;
  border: 1px solid rgb(244, 244, 244);
}

.noChatRoom {
  margin-top: 100px;
  text-align: center;
  color: #a8a8a8;
  font-size: 15px;
  /* font-weight: bold; */
}
