.chatRoom {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
    width: 764px;
    margin-left: auto;
    background-color: #dde6e0;
    height: 712px;
  }
  
  .chatUser {
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .chatProfile {
    width: 60px;
  }
  
  .chatNickname {
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: none;
    margin: 2% 5%;
    height: 70%;
  }
  
  .message {
    margin-bottom: 25px;
  }
  
  .sender {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 3px;
  }
  
  .messageText {
    padding: 15px;
    border-radius: 0 20px 20px 20px;
    max-width: 80%;
    width: fit-content;
    font-size: 14px;
    word-wrap: break-word;
}
  
  /* 보내는 사람의 메시지 스타일 = 나 */
  .myMessageContainer .messageText {
    background-color: #7e8e81;
    color: #fff;
    border-radius: 0 20px 20px 20px;
  }
  
  /* 받는 사람의 메시지 스타일 = 상대 */
  .otherMessageContainer .messageText {
    background-color: #fff;
    color: black;
    border-radius: 0 20px 20px 20px;
  }
  
  .inputArea {
    display: flex;
    margin: 0 5%;
    padding: 10px;
  }
  
  .messageInput {
    flex: 1;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border: none;
  }
  .fileButton {
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    background-color: white;
  }
  .icon {
    font-size: 20px;
    cursor: pointer;
    color: #7e8e81;
    background-color: white;
  }

  .sendButton {
    border: none;
    padding:10px 20px;
    color: #7e8e81;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #ffffff;
  }

  .messageImage {
    max-width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 5px;
  }
  
  .uploadedFileName {
    margin-left: 50px;
    font-size: 12px;
    color: #888;
  }
  .uploadedFileName span{
    margin-left: 20px;
  }