.feedContainer {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
  width: 764px;
  margin-left: auto;
  background-color: white;
  padding: 8%;
  margin-top: 15px;
}

.feedUser {
  display: flex;
}

.authorImg {
  width: 30px;
}

.feedImage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
