.feedContainer {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
  width: 764px;
  margin-left: auto;
  background-color: white;
  /* padding: 8%; */
  margin-top: 15px;
}

.emptyFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
  width: 764px;
  margin-left: auto;
  background-color: white;
  padding: 8%;
  margin-top: 15px;
  color: #a9a3a3;
  font-size: 16px;
  font-weight: bold;
  gap: 15px;
}

.emptyImg {
  width: 25%;
  opacity: 0.6;
}

.feedUser {
  padding: 3% 5%;
  display: flex;
  border-radius: 8px 8px 0 0;
  /* background-color: #c6d3c9; */
  background-color: #dde6e0;
  gap: 10px;
  align-items: center;
}
.authorImg {
  width: 40px;
  height: 40px;
  /* border: 1px solid #7e8e81;
  box-shadow: 0 0 0 3px #7e8e81 inset;
  border-radius: 50%; */
  /* box-sizing: border-box; */
}
.field {
  font-size: 14px;
  color: #7e8e81;
}

.contentsWrap {
  padding: 5% 8%;
  border-bottom: 1.5px solid #e7e6e5;
}

.contentsHead {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.feedDate {
  color: #a9a3a3;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}
.content {
  margin-bottom: 15px;
  font-size: 15px;
  white-space: pre-wrap;
}

.feedImage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.commentWrap {
  padding: 3% 8%;
}

.commentHead {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  margin-bottom: 3%;
}

.commentCnt {
  font-size: 14px;
  font-weight: normal;
}
