/* 전체 헤더 스타일 */
.header {
  display: flex;
  justify-content: center; /* 로고와 메뉴를 좌우로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: white;
  padding: 0 20px; /* 좌우에 패딩 추가 */
  height: 100px; /* 헤더의 높이 */
  box-shadow: 0px 1px 10px 3px #c8c7c7;
}

/* 로고 스타일 */
.logo {
  position: absolute; /* 부모 기준으로 절대 위치 지정 */
  left: 50%; /* 화면의 정 가운데로 이동 */
  transform: translateX(-50%); /* 정확히 가운데에 배치 */
}
.logoImg {
  height: 80px;
  cursor: pointer;
}

/* 메뉴 아이콘 컨테이너 */
.menu {
  display: flex;
  column-gap: 20px; /* 아이콘 간격 */
  margin-left: auto; /* 메뉴를 오른쪽으로 밀기 */
}

/* 개별 아이콘 스타일 */
.menuIcon {
  height: 30px; /* 아이콘 크기 */
  cursor: pointer; /* 마우스 오버 시 포인터 표시 */
}
