.container {
  padding: 50px 0;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feedList {
  /* margin-top: 8%; */
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.feedItem {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
  transition: transform 0.2s;
}

.feedItem:hover {
  transform: scale(1.01);
}

.feedTitle {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.feedInfo {
  display: flex;
  flex: 1;
  column-gap: 20px;
  align-items: center;
}
.feedDate {
  font-size: 14px;
  color: #a9a3a3;
}

.noFeed {
  color: #a9a3a3;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.emptyImg {
  width: 25%;
  opacity: 0.6;
  margin-bottom: 10px;
}

.feedDetails {
  padding: 20px;
  background-color: #fafafa;
  border: 2px solid #ddd;
  margin-top: 15px;
  border-radius: 5px;
}

.feedContent {
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feedContent code {
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  background-color: #1f242b;
  font-size: 14px;
  font-family: "Hack";
}

.feedContent p {
  white-space: pre-wrap;
}

.reviewCount {
  margin-bottom: 20px;
}
.commentItem {
  margin-bottom: 20px;
  list-style: none;
}
.commentUser {
  color: rgb(79, 79, 79);
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.feedComment {
  padding: 20px 20px 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.08);
  background-color: #ffffff;
}

.reviewCountTitle {
  padding: 0 8px 0 20px;
}

.reviewComments {
  padding: 0 20px;
  color: #647667;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-color: black;
  font-size: 15px;
}

.feedActions {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 20px;
}

.deleteButton {
  background-color: #c6d3c9;
  color: white;
  border: none;
  padding: 10px 17px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 7px;
}

.deleteButton:hover {
  background-color: #bccebf;
}

.reviewButton {
  background-color: #7e8e81;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.reviewButton:hover {
  background-color: #9fafa2;
}
