/* 전체 레이아웃 */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f2f2f2;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 110px;
  }
  
  .logo {
    width: 150px;
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
  }
  
  .nav-bar button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #67b345;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-bar button:hover {
    background-color: #5aa03b;
  }
  
  .main-content {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    margin: 50px auto;
  }

  .profile {
    flex: 1;
    max-width: 250px;
    margin-right: 20px;
  }
  
  .profile-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0 auto;
  }
  
  .profile-card h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .profile-card p {
    font-size: 14px;
    color: #666;
  }
  
  .my-page-button, .logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #67b345;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .my-page-button:hover, .logout-button:hover {
    background-color: #5aa03b;
  }
  
  /* 채팅방 스타일 */
  .chatting-rooms {
    margin-top: 20px;
  }
  
  .chatting-rooms h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .chat-list {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .chat-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .chat-item:last-child {
    border-bottom: none;
  }
  
  .chat-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 10px;
  }
  
  .chat-item p {
    font-size: 14px;
    color: #666;
  }
  
  /* 피드 스타일 */
  .feed {
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .feed-post {
    margin-bottom: 20px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .post-header span {
    font-size: 12px;
    color: #999;
  }
  
  .post-content {
    font-size: 14px;
    color: #666;
  }
  
  .post-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }